.logo-block{
    display: flex;

}

.logo-S{
    font-size: 50px;
    color: var(--text-color) ;
    font-family: "Bodoni Moda SC", serif;

}

.logo-K{
    font-size: 50px;
    color: var(--text-color) ;
    font-family: "Bodoni Moda SC", serif;
    margin-bottom: 10px;
    position: relative;
    right: 8px;
    margin-top: 10px;

}