:root {
  --background-color: #282c34; /* Initial red/blue theme */
  --text-color: #61dafb;
  --header-item-margin:20px;
  --toastify-color-success: var(--text-color);
  --toastify-toast-background: #61dafb;
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-toast-background:#dafb;
  --toastify-text-color-success: #61dafb;
  --toastify-color-progress-success: var(--toastify-color-success);
}


.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg{
  background-color: var(--background-color);
}

.bg-reverse{
  background-color: var(--text-color);
}

.text-colour{
  color: var(--text-color);
}

.text-colour-reverse{
  color: var(--background-color);
}

